@media screen and (min-width: 568px) {
    .logo-sm {
        display: none;
    }

    .logo {
        display: inline-block;
    }

    .logo > img {
        width: 80%;
        padding-bottom: .5rem;
    }

    .sidebar {
        width: 200px;

        align-items: flex-start;
    }

    .sidebar span {
        display: inline-block;

    }

    .sidebar img {
        display: inline-block;
    }

    .side-link {
        display: flex;
        align-items: center;
        gap: .5rem;

        color: var(--color-secondary);
    }

    .profile {
        color: white;
        font-weight: bold;
    }

    .download {
        border-bottom: 1px solid white;

        justify-content: flex-start;
    }

    .playlists {
        visibility: visible;
    }

    .playing-buttons {
        width: 60px;
    }
}

@media screen and (min-width: 768px) {

    .col-md-1_4 {
        width: calc((100% / 4) - 15px);
    }

}

@media screen and (min-width: 992px) {

    .sections-container {
        font-size: 0.8rem;
    }

    .col-lg-1_6 {
        width: calc((100% / 6) - 15px);
    }
}